body {
	background: #f6f8f8;
}

#top_line {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 6px;
  background: #e70800;
  z-index: 2;
}

#a.logo {
	color: #e70800;
	text-decoration: none;
}

a:hover {
	color: #e70800;
	text-decoration: none;
}


#tag {
	margin: 40px 0px 0px 120px;
}

.search {
    margin: -30px 70px 0px 0px;
    float: right;
}

.form {
	width: 450px;
	margin: 30px 0px 0px 0px;
}

.img {
	height: 40px;
	width:  40px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
}

.sign-in {
	margin: 6px 240px 0px 0px;
	float: right;
}

.logo {
	
	letter-spacing: -1px;
	font-family: 'Rokkitt', serif;
	font-size: 52px;
	font-weight: bold;
	color: #e70800;
}

.name {
	color: #e70800;
	font-size: 28px
}

#wrap {  
    margin: 15px 15px 0px 0px;
    width: 300px;
    height: 310px;
    padding: 5px 20px 5px 20px;
    background: #ffffff;
    border: 1px solid #fff;
    border-radius: 5px;
}

div.leftnav {
   margin: 15px 0px 0px 0px;
   padding: 0px 0px 15px 10px;
   min-height: 900px;
   float: left;
   width: 200px;
   background: #ffffff;  
   border: 1px solid #fff;
   border-radius: 5px;
}

div.rightContent {
   margin: 15px 0px 0px 0px;
   padding: 0px 0px 15px 10px;
   min-height: 900px;
   width: 707px;
   border-left: 1px solid gray;
   float:left;
   background: #ffffff;
}

h1.widget {
	font-size: 28px;
	color: #e70800;
}