body {
	background: #f2f2f2;
}

#top_line {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 6px;
  background: #e70800;
  z-index: 2;
}

#container
{
	max-width: 1240px;
	margin: 0px auto;
}

#sign-in {
	margin: 20px 0 0 1034px;
	text-decoration: none;
}

.sign-in {
	font-size: 14px;
	vertical-align: bottom;
}

.img {
	height: 50px;
	width:  50px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
}

#header {
	margin: 10px 0px 10px 0px;
	text-align: center;
}

#tag {
	margin: 0 0 20px 0;
	text-align: center;
	font-family: 'Tauri', sans-serif;
}

#logo {
	letter-spacing: -1px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 52px;
	color: #e70800;
	text-decoration: none;
}

#tag2 {
	text-align: center;
	font-family: 'Tauri', sans-serif;
}

.search {
    margin: 30px 0px 30px 0px;
    text-align: center;
    position: relative;
    *z-index: 1;
}

.search .tt-suggestion {
  padding: 8px 20px;
}

#widgets {
	margin: 15px 0px 15px 53px;
}

#breadcrumbs {
	margin: 0 10px;
	font-size: 12px;
}

#wrap {  
    margin: 15px 15px 0px -5px;
    text-align: left;
    width: 330px;
    height: 300px;
    padding: 1px 20px 20px 20px;
    background: #ffffff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
	border: 1px solid #ccc;
	  -webkit-border-radius: 8px;
	     -moz-border-radius: 8px;
	          border-radius: 8px;
	  outline: none;
}

#about {  
	margin: 0px auto;
	width: 65%;
    height: 600px;
    padding: 1px 20px 20px 20px;
    background: #ffffff;
    border-radius: 5px;
    vertical-align: top;
	border: 1px solid #ccc;
	  -webkit-border-radius: 8px;
	     -moz-border-radius: 8px;
	          border-radius: 8px;
	  outline: none;
}

#a.logo {
	color: #e70800;
	text-decoration: none;
}


a:link {
	text-decoration: none;
	color: #08c;
	font-family: sans-serif;
}

a:hover { 
	text-decoration:none;
    color: #e70800;
}

a:active { 
	padding-top: 2px; 
}

a {
	color: #08c;
	font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0 5px;
  padding: 0;
}

li {
	display: block;
	line-height: 125%;
}

.typeahead {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.form {
	width: 450px;
	margin: 30px 0px 0px 0px;
}


.name {
	font-size: 28px;
	font-family: 'Tauri', sans-serif;
	color: #e70800;
}

#post {
	margin: 0px auto;
}

div.leftnav {
   margin: 15px auto;
   padding: 0px 0px 10px 10px;
   min-height: 900px;
   float: left;
   width: 300px;
   background: #ffffff;  
   border: 1px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

div.rightContent {
   margin: 15px 0px 0px 10px;
   padding: 0px 0px 15px 20px;
   min-height: 900px;
   float: left;
   width: 814px;
   background: #ffffff;
   border: 1px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}