#top_line {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 6px;
  background: #e70800;
  z-index: 2;
}

#tag {
	margin: 20px;

}

#search {
	margin: 10px 0px 0px;
}

.form {
    width: 450px;
}

.img {
	height: 40px;
	width:  40px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
}

.sign-in {
	margin: 10px;
	float: right;
}

.logo {
	margin-top: 50px;
	letter-spacing: -1px;
	font-family: 'Rokkitt', serif;
	font-size: 52px;
	font-weight: bold;
	color: #e70800;
}

.table tbody tr:hover td {   
}