<% @category.each do |subcat| %>
<% subcat.posts.each do |post| %>
	<div id="widgets">
	     <div id="wrap">
		   <h1 class="name"><%= post.sub_category.name %></h1>
	<ul>
		<li><%= post.name %></li>
	</ul>
 </div> 
</div> 



<% end %>	    

</body>
</html>