<% @sub_category.each do |subcat| %>
<div class="leftnav">
	<h1 class="name"><%= subcat.name %></h1>
<% subcat.posts.each(:order => 'title', :limit => 12) do |post| %>
<ul>
	<li><%= link_to (post.name), post %></li>
</ul><% end %> 
</div>  
<h1><%= post.sub_category.name %></h1>

</div>
  
<% end %>